USE [master]
GO
/****** Object:  Database [FMS]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE DATABASE [FMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FMS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverLicenses]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverLicenses](
	[DriverLicenseID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DriverLicenses] PRIMARY KEY CLUSTERED 
(
	[DriverLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[TotalTrips] [int] NULL,
	[Rating] [float] NULL,
	[ExperienceYears] [int] NULL,
	[DriverStatus] [nvarchar](20) NULL,
	[BirthPlace] [nvarchar](200) NULL,
	[UserID] [int] NULL,
	[GPLX] [nvarchar](200) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyReports]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyReports](
	[EmergencyID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NULL,
	[VehicleID] [int] NOT NULL,
	[DriverID] [int] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Level] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[ContactPhone] [nvarchar](max) NOT NULL,
	[ReportedAt] [datetime2](7) NOT NULL,
	[RespondedAt] [datetime2](7) NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[RespondedByUserID] [int] NULL,
 CONSTRAINT [PK_EmergencyReports] PRIMARY KEY CLUSTERED 
(
	[EmergencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtraExpenses]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraExpenses](
	[ExtraExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[ExpenseType] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ExpenseDate] [datetime2](7) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExtraExpenses] PRIMARY KEY CLUSTERED 
(
	[ExtraExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelRecords]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelRecords](
	[FuelRecordID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[TripID] [int] NULL,
	[FuelTime] [datetime2](7) NOT NULL,
	[ReFuelLocation] [nvarchar](200) NOT NULL,
	[FuelAmount] [float] NOT NULL,
	[FuelCost] [float] NOT NULL,
	[CurrentKm] [float] NOT NULL,
 CONSTRAINT [PK_FuelRecords] PRIMARY KEY CLUSTERED 
(
	[FuelRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseClasses]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseClasses](
	[LicenseClassID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[LicenseDescription] [nvarchar](200) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_LicenseClasses] PRIMARY KEY CLUSTERED 
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenances]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenances](
	[MaintenanceID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[ScheduledDate] [datetime2](7) NOT NULL,
	[FinishedDate] [datetime2](7) NULL,
	[GarageName] [nvarchar](200) NULL,
	[TechnicianName] [nvarchar](100) NULL,
	[TotalCost] [float] NOT NULL,
	[MaintenanceStatus] [nvarchar](20) NULL,
	[MaintenanceType] [nvarchar](100) NULL,
	[NextMaintenanceDate] [datetime2](7) NULL,
	[NextMaintenanceKm] [int] NULL,
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_Maintenances] PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceServices]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceServices](
	[MaintenanceServiceID] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_MaintenanceServices] PRIMARY KEY CLUSTERED 
(
	[MaintenanceServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[ServicePrice] [float] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripDrivers]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripDrivers](
	[TripDriverID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[AssignedFrom] [datetime2](7) NOT NULL,
	[AssignedTo] [datetime2](7) NULL,
	[TripRating] [float] NULL,
 CONSTRAINT [PK_TripDrivers] PRIMARY KEY CLUSTERED 
(
	[TripDriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripLogs]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripLogs](
	[TripLogID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[LogTime] [datetime2](7) NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[DistanceFromLastKm] [int] NOT NULL,
	[FuelUsed] [float] NOT NULL,
	[LogType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TripLogs] PRIMARY KEY CLUSTERED 
(
	[TripLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[TripID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[StartLocation] [nvarchar](255) NOT NULL,
	[EndLocation] [nvarchar](255) NOT NULL,
	[TotalDistanceKm] [int] NULL,
	[TotalFuelConsumed] [float] NULL,
	[TripStatus] [nvarchar](20) NOT NULL,
	[CustomerName] [nvarchar](200) NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[ScheduledStartTime] [datetime2](7) NULL,
	[RequestedVehicleType] [nvarchar](255) NULL,
	[RequestedPassengers] [int] NULL,
	[RequestedCargo] [nvarchar](255) NULL,
	[CustomerEmail] [nvarchar](255) NULL,
	[EstimatedDurationMin] [int] NULL,
	[ActualDurationMin] [int] NULL,
	[RouteGeometryJson] [nvarchar](200) NULL,
	[EstimatedDistanceKm] [int] NULL,
 CONSTRAINT [PK_Trips] PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripSteps]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripSteps](
	[TripStepID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[StepKey] [nvarchar](50) NOT NULL,
	[StepLabel] [nvarchar](200) NOT NULL,
	[IsDone] [bit] NOT NULL,
	[ConfirmedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TripSteps] PRIMARY KEY CLUSTERED 
(
	[TripStepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
	[PasswordHash] [nvarchar](200) NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[Role] [nvarchar](20) NULL,
	[Department] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[IsReceivingEmailNofication] [bit] NOT NULL,
	[IsReceivingMaintainNofication] [bit] NOT NULL,
	[IsReceivingGeoNofication] [bit] NOT NULL,
	[IsReceivingReportNofication] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 1/18/2026 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [nvarchar](100) NOT NULL,
	[VehicleModel] [nvarchar](100) NULL,
	[VehicleType] [nvarchar](100) NULL,
	[ManufacturedYear] [int] NULL,
	[CurrentKm] [int] NULL,
	[VehicleStatus] [nvarchar](20) NULL,
	[DriverID] [int] NULL,
	[RequiredLicenseClassID] [int] NOT NULL,
	[FuelType] [nvarchar](20) NULL,
	[VehicleBrand] [nvarchar](100) NULL,
	[Capacity] [nvarchar](100) NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260101150957_TenMigrationCuaBan', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[DriverLicenses] ON 

INSERT [dbo].[DriverLicenses] ([DriverLicenseID], [DriverID], [LicenseClassID], [ExpiryDate]) VALUES (1, 1, 8, CAST(N'2030-12-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[DriverLicenses] ([DriverLicenseID], [DriverID], [LicenseClassID], [ExpiryDate]) VALUES (2, 2, 9, CAST(N'2028-05-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[DriverLicenses] ([DriverLicenseID], [DriverID], [LicenseClassID], [ExpiryDate]) VALUES (3, 3, 10, CAST(N'2029-10-20T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DriverLicenses] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([DriverID], [TotalTrips], [Rating], [ExperienceYears], [DriverStatus], [BirthPlace], [UserID], [GPLX]) VALUES (1, 150, 4.8, 10, N'available', N'Hà Nội', 3, N'123456789')
INSERT [dbo].[Drivers] ([DriverID], [TotalTrips], [Rating], [ExperienceYears], [DriverStatus], [BirthPlace], [UserID], [GPLX]) VALUES (2, 45, 4.5, 3, N'on_trip', N'TP.HCM', 6, N'123456789')
INSERT [dbo].[Drivers] ([DriverID], [TotalTrips], [Rating], [ExperienceYears], [DriverStatus], [BirthPlace], [UserID], [GPLX]) VALUES (3, 89, 4.7, 5, N'on_trip', N'Đà Nẵng', 10, N'123456789')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[EmergencyReports] ON 

INSERT [dbo].[EmergencyReports] ([EmergencyID], [TripID], [VehicleID], [DriverID], [Title], [Description], [Level], [Status], [Location], [ContactPhone], [ReportedAt], [RespondedAt], [ResolvedAt], [RespondedByUserID]) VALUES (1, 1, 2, 2, N'Bể bánh xe', N'Xe bị nổ lốp sau khi qua cầu cỏ may, cần hỗ trợ thay lốp dự phòng.', N'high', N'processing', N'Cầu Cỏ May, Vũng Tàu', N'0907778889', CAST(N'2026-01-01T22:13:27.7533333' AS DateTime2), CAST(N'2026-01-01T22:13:27.7533333' AS DateTime2), CAST(N'2026-01-01T22:13:27.7533333' AS DateTime2), NULL)
INSERT [dbo].[EmergencyReports] ([EmergencyID], [TripID], [VehicleID], [DriverID], [Title], [Description], [Level], [Status], [Location], [ContactPhone], [ReportedAt], [RespondedAt], [ResolvedAt], [RespondedByUserID]) VALUES (4, 1, 2, 2, N'Tai nạn', N'tông người', N'High', N'resolved', N'330 Bến vân đồn', N'090248129', CAST(N'2026-01-12T10:11:29.2254873' AS DateTime2), CAST(N'2026-01-12T10:21:13.6717076' AS DateTime2), CAST(N'2026-01-12T10:21:31.6745434' AS DateTime2), 1)
INSERT [dbo].[EmergencyReports] ([EmergencyID], [TripID], [VehicleID], [DriverID], [Title], [Description], [Level], [Status], [Location], [ContactPhone], [ReportedAt], [RespondedAt], [ResolvedAt], [RespondedByUserID]) VALUES (5, NULL, 1, NULL, N'Tai nạn', N'Không ổn', N'critical', N'resolved', N'120 Nguyen Trai', N'123455778', CAST(N'2026-01-13T16:14:16.0185519' AS DateTime2), CAST(N'2026-01-13T16:21:38.5813500' AS DateTime2), CAST(N'2026-01-13T16:21:38.5814256' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[EmergencyReports] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtraExpenses] ON 

INSERT [dbo].[ExtraExpenses] ([ExtraExpenseID], [TripID], [ExpenseType], [Amount], [ExpenseDate], [Location], [Description]) VALUES (1, 1, N'Phí cầu đường', CAST(120000.00 AS Decimal(18, 2)), CAST(N'2024-05-20T08:30:00.0000000' AS DateTime2), N'Trạm Long Phước', N'Vé lượt đi')
INSERT [dbo].[ExtraExpenses] ([ExtraExpenseID], [TripID], [ExpenseType], [Amount], [ExpenseDate], [Location], [Description]) VALUES (2, 1, N'Sửa chữa gấp', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2024-05-20T10:30:00.0000000' AS DateTime2), N'Vũng Tàu', N'Vá vỏ xe nổ')
INSERT [dbo].[ExtraExpenses] ([ExtraExpenseID], [TripID], [ExpenseType], [Amount], [ExpenseDate], [Location], [Description]) VALUES (3, 2, N'Ăn uống', CAST(150000.00 AS Decimal(18, 2)), CAST(N'2024-05-19T12:00:00.0000000' AS DateTime2), N'Tiền Giang', N'Ăn trưa tài xế')
SET IDENTITY_INSERT [dbo].[ExtraExpenses] OFF
GO
SET IDENTITY_INSERT [dbo].[FuelRecords] ON 

INSERT [dbo].[FuelRecords] ([FuelRecordID], [VehicleID], [DriverID], [TripID], [FuelTime], [ReFuelLocation], [FuelAmount], [FuelCost], [CurrentKm]) VALUES (1, 1, 1, 2, CAST(N'2024-05-19T09:30:00.0000000' AS DateTime2), N'Petrolimex Q7', 50.5, 1100000, 44980)
INSERT [dbo].[FuelRecords] ([FuelRecordID], [VehicleID], [DriverID], [TripID], [FuelTime], [ReFuelLocation], [FuelAmount], [FuelCost], [CurrentKm]) VALUES (2, 2, 2, 1, CAST(N'2024-05-20T07:45:00.0000000' AS DateTime2), N'Comeco Hàng Xanh', 30, 750000, 11950)
SET IDENTITY_INSERT [dbo].[FuelRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[LicenseClasses] ON 

INSERT [dbo].[LicenseClasses] ([LicenseClassID], [Code], [LicenseDescription], [Rank]) VALUES (4, N'A1', N'Xe mô tô ≤ 125cc', 1)
INSERT [dbo].[LicenseClasses] ([LicenseClassID], [Code], [LicenseDescription], [Rank]) VALUES (5, N'A', N'Xe mô tô > 125cc', 2)
INSERT [dbo].[LicenseClasses] ([LicenseClassID], [Code], [LicenseDescription], [Rank]) VALUES (6, N'B1', N'Ô tô cá nhân, không kinh doanh', 3)
SET IDENTITY_INSERT [dbo].[LicenseClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintenances] ON 

INSERT [dbo].[Maintenances] ([MaintenanceID], [VehicleID], [ScheduledDate], [FinishedDate], [GarageName], [TechnicianName], [TotalCost], [MaintenanceStatus], [MaintenanceType], [NextMaintenanceDate], [NextMaintenanceKm], [Notes]) VALUES (1, 3, CAST(N'2024-05-21T00:00:00.0000000' AS DateTime2), NULL, N'Garage Quang Trung', NULL, 5700000, N'processing', N'Sữa chữa khẩn cấp', NULL, NULL, NULL)
INSERT [dbo].[Maintenances] ([MaintenanceID], [VehicleID], [ScheduledDate], [FinishedDate], [GarageName], [TechnicianName], [TotalCost], [MaintenanceStatus], [MaintenanceType], [NextMaintenanceDate], [NextMaintenanceKm], [Notes]) VALUES (2, 3, CAST(N'2026-01-12T13:33:20.9120000' AS DateTime2), NULL, N'a', N'B', 18500000, N'scheduled', N'Sữa chữa định kỳ', CAST(N'2026-01-12T13:33:20.9120000' AS DateTime2), 15, N'CDE')
INSERT [dbo].[Maintenances] ([MaintenanceID], [VehicleID], [ScheduledDate], [FinishedDate], [GarageName], [TechnicianName], [TotalCost], [MaintenanceStatus], [MaintenanceType], [NextMaintenanceDate], [NextMaintenanceKm], [Notes]) VALUES (3, 1, CAST(N'2025-12-15T08:00:00.0000000' AS DateTime2), CAST(N'2025-12-15T16:30:00.0000000' AS DateTime2), N'Garage Hino Chuyên Nghiệp', N'Nguyễn Văn Tú', 3500000, N'completed', N'Bảo dưỡng định kỳ', CAST(N'2026-06-15T00:00:00.0000000' AS DateTime2), 50000, N'Thay nhớt, lọc gió, kiểm tra phanh')
SET IDENTITY_INSERT [dbo].[Maintenances] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceServices] ON 

INSERT [dbo].[MaintenanceServices] ([MaintenanceServiceID], [MaintenanceID], [ServiceID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, 1, 1, 1, 1200000, 1200000)
INSERT [dbo].[MaintenanceServices] ([MaintenanceServiceID], [MaintenanceID], [ServiceID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (2, 1, 2, 1, 4500000, 4500000)
INSERT [dbo].[MaintenanceServices] ([MaintenanceServiceID], [MaintenanceID], [ServiceID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (3, 2, 2, 4, 4500000, 18000000)
SET IDENTITY_INSERT [dbo].[MaintenanceServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceType], [ServicePrice]) VALUES (1, N'Thay nhớt động cơ', N'Maintenance', 1200000)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceType], [ServicePrice]) VALUES (2, N'Thay lốp xe', N'Repair', 4500000)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceType], [ServicePrice]) VALUES (3, N'Kiểm tra hệ thống phanh', N'Inspection', 500000)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[TripDrivers] ON 

INSERT [dbo].[TripDrivers] ([TripDriverID], [TripID], [DriverID], [Role], [AssignedFrom], [AssignedTo], [TripRating]) VALUES (1, 1, 2, N'Main Driver', CAST(N'2024-05-20T08:00:00.0000000' AS DateTime2), NULL, 4.5)
INSERT [dbo].[TripDrivers] ([TripDriverID], [TripID], [DriverID], [Role], [AssignedFrom], [AssignedTo], [TripRating]) VALUES (2, 2, 1, N'Main Driver', CAST(N'2024-05-19T10:00:00.0000000' AS DateTime2), NULL, 5)
INSERT [dbo].[TripDrivers] ([TripDriverID], [TripID], [DriverID], [Role], [AssignedFrom], [AssignedTo], [TripRating]) VALUES (3, 8, 3, N'Main Driver', CAST(N'2026-01-18T15:20:20.8702303' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TripDrivers] OFF
GO
SET IDENTITY_INSERT [dbo].[TripLogs] ON 

INSERT [dbo].[TripLogs] ([TripLogID], [TripID], [LogTime], [Location], [DistanceFromLastKm], [FuelUsed], [LogType]) VALUES (1, 1, CAST(N'2024-05-20T08:30:00.0000000' AS DateTime2), N'Trạm thu phí Long Phước', 20, 2.5, N'Checkpoint')
INSERT [dbo].[TripLogs] ([TripLogID], [TripID], [LogTime], [Location], [DistanceFromLastKm], [FuelUsed], [LogType]) VALUES (2, 1, CAST(N'2024-05-20T09:15:00.0000000' AS DateTime2), N'Ngã ba Nhơn Trạch', 15, 1.8, N'Checkpoint')
INSERT [dbo].[TripLogs] ([TripLogID], [TripID], [LogTime], [Location], [DistanceFromLastKm], [FuelUsed], [LogType]) VALUES (3, 1, CAST(N'2024-05-20T10:00:00.0000000' AS DateTime2), N'Cầu Cỏ May', 40, 5.2, N'Incident')
SET IDENTITY_INSERT [dbo].[TripLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[TripSteps] ON 

INSERT [dbo].[TripSteps] ([TripStepID], [TripID], [StepKey], [StepLabel], [IsDone], [ConfirmedAt]) VALUES (1, 1, N'pickup', N'Lấy hàng tại kho', 1, CAST(N'2024-05-20T08:30:00.0000000' AS DateTime2))
INSERT [dbo].[TripSteps] ([TripStepID], [TripID], [StepKey], [StepLabel], [IsDone], [ConfirmedAt]) VALUES (2, 1, N'on_way', N'Đang di chuyển', 1, CAST(N'2024-05-20T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[TripSteps] ([TripStepID], [TripID], [StepKey], [StepLabel], [IsDone], [ConfirmedAt]) VALUES (3, 1, N'delivery', N'Giao hàng cho khách', 0, NULL)
SET IDENTITY_INSERT [dbo].[TripSteps] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [FullName], [Phone], [RegisteredAt], [PasswordHash], [LastLoginAt], [Role], [Department], [Avatar], [IsReceivingEmailNofication], [IsReceivingMaintainNofication], [IsReceivingGeoNofication], [IsReceivingReportNofication]) VALUES (1, N'admin@fms.com', N'Quản trị viên', N'0123456789', CAST(N'2026-01-01T22:13:27.7533333' AS DateTime2), N'$2a$11$ltxh/aiudSk3HXU7Jme/f.V5NdClkjNQg.K13LxSrqUll65DPViOe', NULL, N'admin', NULL, N'https://res.cloudinary.com/dexpreywg/image/upload/v1768667299/avatars/yrg3la6kcodhdqgccx3l.jpg', 1, 1, 1, 1)
INSERT [dbo].[Users] ([UserID], [Email], [FullName], [Phone], [RegisteredAt], [PasswordHash], [LastLoginAt], [Role], [Department], [Avatar], [IsReceivingEmailNofication], [IsReceivingMaintainNofication], [IsReceivingGeoNofication], [IsReceivingReportNofication]) VALUES (2, N'operator@fms.com', N'Điều phối viên', N'0988888888', CAST(N'2026-01-01T22:13:27.7533333' AS DateTime2), N'$2a$11$ltxh/aiudSk3HXU7Jme/f.V5NdClkjNQg.K13LxSrqUll65DPViOe', NULL, N'staff', NULL, N'https://res.cloudinary.com/dexpreywg/image/upload/v1768667396/avatars/m4dvyv8dpjua6vulyexo.png', 1, 0, 1, 1)
INSERT [dbo].[Users] ([UserID], [Email], [FullName], [Phone], [RegisteredAt], [PasswordHash], [LastLoginAt], [Role], [Department], [Avatar], [IsReceivingEmailNofication], [IsReceivingMaintainNofication], [IsReceivingGeoNofication], [IsReceivingReportNofication]) VALUES (3, N'manager1@fms.com', N'Nguyễn Văn Quản', N'0901111111', CAST(N'2025-06-15T08:00:00.0000000' AS DateTime2), N'$2a$11$ltxh/aiudSk3HXU7Jme/f.V5NdClkjNQg.K13LxSrqUll65DPViOe', NULL, N'driver', N'Logistics', N'https://res.cloudinary.com/dexpreywg/image/upload/v1768667412/avatars/aizkxaeqdqmhfnhoup6s.png', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [LicensePlate], [VehicleModel], [VehicleType], [ManufacturedYear], [CurrentKm], [VehicleStatus], [DriverID], [RequiredLicenseClassID], [FuelType], [VehicleBrand], [Capacity]) VALUES (1, N'51C-123.45', N'Hino 500', N'Xe tải 8 tấn', 2020, 45000, N'in_use', NULL, 9, N'Dầu', N'Hino', N'8 tấn')
INSERT [dbo].[Vehicles] ([VehicleID], [LicensePlate], [VehicleModel], [VehicleType], [ManufacturedYear], [CurrentKm], [VehicleStatus], [DriverID], [RequiredLicenseClassID], [FuelType], [VehicleBrand], [Capacity]) VALUES (2, N'51H-999.99', N'Hyundai Solati', N'Xe 16 chỗ', 2022, 12000, N'in_use', NULL, 10, N'Dầu', N'Hyundai', N'16 chỗ')
INSERT [dbo].[Vehicles] ([VehicleID], [LicensePlate], [VehicleModel], [VehicleType], [ManufacturedYear], [CurrentKm], [VehicleStatus], [DriverID], [RequiredLicenseClassID], [FuelType], [VehicleBrand], [Capacity]) VALUES (3, N'51F-444.55', N'Thaco Ollin', N'Xe tải nhẹ', 2019, 85000, N'maintenance', NULL, 9, N'Dầu', N'Thaco', N'3.5 tấn')
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
/****** Object:  Index [IX_DriverLicenses_DriverID_LicenseClassID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DriverLicenses_DriverID_LicenseClassID] ON [dbo].[DriverLicenses]
(
	[DriverID] ASC,
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DriverLicenses_LicenseClassID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_DriverLicenses_LicenseClassID] ON [dbo].[DriverLicenses]
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Drivers_UserID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Drivers_UserID] ON [dbo].[Drivers]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmergencyReports_DriverID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmergencyReports_DriverID] ON [dbo].[EmergencyReports]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmergencyReports_TripID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmergencyReports_TripID] ON [dbo].[EmergencyReports]
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmergencyReports_VehicleID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmergencyReports_VehicleID] ON [dbo].[EmergencyReports]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExtraExpenses_TripID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExtraExpenses_TripID] ON [dbo].[ExtraExpenses]
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FuelRecords_DriverID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_FuelRecords_DriverID] ON [dbo].[FuelRecords]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FuelRecords_FuelTime]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_FuelRecords_FuelTime] ON [dbo].[FuelRecords]
(
	[FuelTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FuelRecords_TripID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_FuelRecords_TripID] ON [dbo].[FuelRecords]
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FuelRecords_VehicleID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_FuelRecords_VehicleID] ON [dbo].[FuelRecords]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Maintenances_VehicleID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Maintenances_VehicleID] ON [dbo].[Maintenances]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceServices_MaintenanceID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceServices_MaintenanceID] ON [dbo].[MaintenanceServices]
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceServices_ServiceID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceServices_ServiceID] ON [dbo].[MaintenanceServices]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TripDrivers_DriverID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_TripDrivers_DriverID] ON [dbo].[TripDrivers]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TripDrivers_TripID_DriverID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TripDrivers_TripID_DriverID] ON [dbo].[TripDrivers]
(
	[TripID] ASC,
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TripLogs_TripID_LogTime]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_TripLogs_TripID_LogTime] ON [dbo].[TripLogs]
(
	[TripID] ASC,
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trips_StartTime]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trips_StartTime] ON [dbo].[Trips]
(
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trips_VehicleID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trips_VehicleID] ON [dbo].[Trips]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TripSteps_TripID_StepKey]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TripSteps_TripID_StepKey] ON [dbo].[TripSteps]
(
	[TripID] ASC,
	[StepKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_DriverID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_DriverID] ON [dbo].[Vehicles]
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicles_LicensePlate]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehicles_LicensePlate] ON [dbo].[Vehicles]
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_RequiredLicenseClassID]    Script Date: 1/18/2026 5:05:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_RequiredLicenseClassID] ON [dbo].[Vehicles]
(
	[RequiredLicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DriverLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DriverLicenses_Drivers_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DriverLicenses] CHECK CONSTRAINT [FK_DriverLicenses_Drivers_DriverID]
GO
ALTER TABLE [dbo].[DriverLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DriverLicenses_LicenseClasses_LicenseClassID] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([LicenseClassID])
GO
ALTER TABLE [dbo].[DriverLicenses] CHECK CONSTRAINT [FK_DriverLicenses_LicenseClasses_LicenseClassID]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Users]
GO
ALTER TABLE [dbo].[EmergencyReports]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyReports_Drivers_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EmergencyReports] CHECK CONSTRAINT [FK_EmergencyReports_Drivers_DriverID]
GO
ALTER TABLE [dbo].[EmergencyReports]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyReports_Trips_TripID] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EmergencyReports] CHECK CONSTRAINT [FK_EmergencyReports_Trips_TripID]
GO
ALTER TABLE [dbo].[EmergencyReports]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyReports_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[EmergencyReports] CHECK CONSTRAINT [FK_EmergencyReports_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[ExtraExpenses]  WITH CHECK ADD  CONSTRAINT [FK_ExtraExpenses_Trips_TripID] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExtraExpenses] CHECK CONSTRAINT [FK_ExtraExpenses_Trips_TripID]
GO
ALTER TABLE [dbo].[FuelRecords]  WITH CHECK ADD  CONSTRAINT [FK_FuelRecords_Drivers_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FuelRecords] CHECK CONSTRAINT [FK_FuelRecords_Drivers_DriverID]
GO
ALTER TABLE [dbo].[FuelRecords]  WITH CHECK ADD  CONSTRAINT [FK_FuelRecords_Trips_TripID] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[FuelRecords] CHECK CONSTRAINT [FK_FuelRecords_Trips_TripID]
GO
ALTER TABLE [dbo].[FuelRecords]  WITH CHECK ADD  CONSTRAINT [FK_FuelRecords_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FuelRecords] CHECK CONSTRAINT [FK_FuelRecords_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[Maintenances]  WITH CHECK ADD  CONSTRAINT [FK_Maintenances_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Maintenances] CHECK CONSTRAINT [FK_Maintenances_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[MaintenanceServices]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceServices_Maintenances_MaintenanceID] FOREIGN KEY([MaintenanceID])
REFERENCES [dbo].[Maintenances] ([MaintenanceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceServices] CHECK CONSTRAINT [FK_MaintenanceServices_Maintenances_MaintenanceID]
GO
ALTER TABLE [dbo].[MaintenanceServices]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceServices_Services_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[MaintenanceServices] CHECK CONSTRAINT [FK_MaintenanceServices_Services_ServiceID]
GO
ALTER TABLE [dbo].[TripDrivers]  WITH CHECK ADD  CONSTRAINT [FK_TripDrivers_Drivers_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[TripDrivers] CHECK CONSTRAINT [FK_TripDrivers_Drivers_DriverID]
GO
ALTER TABLE [dbo].[TripDrivers]  WITH CHECK ADD  CONSTRAINT [FK_TripDrivers_Trips_TripID] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[TripDrivers] CHECK CONSTRAINT [FK_TripDrivers_Trips_TripID]
GO
ALTER TABLE [dbo].[TripLogs]  WITH CHECK ADD  CONSTRAINT [FK_TripLogs_Trips_TripID] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TripLogs] CHECK CONSTRAINT [FK_TripLogs_Trips_TripID]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_Trips_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[TripSteps]  WITH CHECK ADD  CONSTRAINT [FK_TripSteps_Trips_TripID] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TripSteps] CHECK CONSTRAINT [FK_TripSteps_Trips_TripID]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Drivers_DriverID] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Drivers_DriverID]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_LicenseClasses_RequiredLicenseClassID] FOREIGN KEY([RequiredLicenseClassID])
REFERENCES [dbo].[LicenseClasses] ([LicenseClassID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_LicenseClasses_RequiredLicenseClassID]
GO
USE [master]
GO
